In [ ]:
import psycopg2
connection =psycopg2.connect(
dbname = "neondb",
user = "neondb_owner",
password = "npg_hKLaOPy9vs2l",
host = "ep-blue-sky-a4haw4w1-pooler.us-east-1.aws.neon.tech", # Change if using a remote server #localhost
port = "5432"
)
print("Database connection successful!")

def create_table(connection, table_name):
    cursor = connection.cursor()
    print('hi')
    cursor.execute("""
CREATE TABLE IF NOT EXISTS account (
             id SERIAL PRIMARY KEY,
            first_name VARCHAR(100) NOT NULL,
            last_name VARCHAR(100) NOT NULL,
            gender VARCHAR(10));""")
    connection.commit()
print("Table Created")
   


def create_member(connection, name, age, membership_type):
    cursor = connection.cursor()
    cursor.execute("""INSERT INTO account (name, age, membership_type)
VALUES (%s, %s, %s);
""", ("Alice", 30, "Premium"),
      ("Robert", 31, "gold"),
      ("Alex", 32, "silver"))
    connection.commit()
print("updated")


def retrieve_members(connection, membership_type=None):
     cursor = connection.cursor()
     cursor.execute("SELECT * FROM account;")
     query = "SELECT * FROM account; "
     cursor.execute(query)
     rows = cursor.fetchall()
     connection.commit()
print ("row")

    #for row in rows:
    # print(row)


def update_member(connection, name, age, membership_type):
      cursor = connection.cursor()
      cursor.execute("""
    UPDATE account
 set where age= int(35)
where name="alice";
  """,(name,age)) 
      connection.commit()
print("Record updated successfully!")
print("updated data")

def update_member(connection, name, age, membership_type):
    cursor = connection.cursor()
    cursor.execute(""" 
   Delete  from memebers
   where name="alice"
 """)
    connection.commit()
print("Record deleted successfully!")

Database connection successful!
Table Created
updated
row
Record updated successfully!
updated data
Record deleted successfully!

:

In [103]:
import psycopg2

In [114]:


add = lambda x, y: x + y
print(add(3, 4))

7

In [104]:
def create_member(connection, name, age, membership_type):
    cursor = connection.cursor()
    cursor.execute("""
INSERT INTO account (name, age, membership_type)
VALUES (%s, %s, %s);
""", ("Alice", 30, "Premium"),
      ("Robert", 31, "gold"),
      ("Alex", 32, "silver"))
    connection.commit()

In [105]:
def retrieve_members(connection, membership_type=None):
    cursor = connection.cursor()
    cursor.execute("SELECT * FROM account;")
    query = f"SELECT * FROM account; "
    cursor.execute(query)
    rows = cursor.fetchall()
    connection.commit()
    print(rows)
    for row in rows:
     print(row)

In [106]:
def update_member(connection, name, age, membership_type):
    cursor = connection.cursor()
    cursor.execute("""
    UPDATE account
 set where age= int(35)
where name="alice";
  """,(name,age)) 
    connection.commit()
print("Record updated successfully!")
print("updated data")

Record updated successfully!
updated data

In [107]:
def update_member(connection, name, age, membership_type):
    cursor = connection.cursor()
    cursor.execute(""" 
   Delete  from memebers
   where name="alice"
 """)
    connection.commit()
print("Record deleted successfully!")

Record deleted successfully!

In [115]:
def greet(name):
    return f"Hello, {name}!"